.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  transition: 0.3s;
}









.navigation-links-root-class-name8 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name9 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name10 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name11 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name12 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}

.navigation-links-root-class-name14 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name15 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name16 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name17 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name18 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}

.navigation-links-root-class-name20 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name21 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name22 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}

.navigation-links-root-class-name24 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name25 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name8 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name9 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name10 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name11 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name12 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name14 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name15 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name16 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name17 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name18 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name24 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name25 {
    align-self: flex-end;
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name8 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name9 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name14 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name15 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name16 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name17 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name18 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name24 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name25 {
    align-self: flex-end;
  }
}

.commission-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://cdn.discordapp.com/attachments/1217844079795241101/1217933825045303416/City_Block_BG_Scaled.png?ex=6605d444&is=65f35f44&hm=f1c35c860096d8c643a99ad09b0e9b29bcf09849cccab62a10fb11e93d8344d5&');
}
.commission-header {
  width: 100%;
  display: flex;
  opacity: 0.9;
  position: relative;
  max-width: auto;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-700);
}
.commission-header:hover {
  opacity: 1;
}
.commission-navlink {
  display: contents;
}
.commission-home {
  width: 250px;
  height: 48px;
  opacity: 1;
  z-index: 200;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.commission-home:hover {
  opacity: 0.8;
}
.commission-navlink1 {
  display: contents;
}
.commission-component {
  text-decoration: none;
}
.commission-navlink2 {
  display: contents;
}
.commission-component1 {
  text-decoration: none;
}
.commission-navlink3 {
  display: contents;
}
.commission-component2 {
  text-decoration: none;
}
.commission-container1 {
  width: 100%;
  height: 556px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: center;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.commission-text {
  color: var(--dl-color-primary-700);
  margin: var(--dl-space-space-threeunits);
  font-size: 3em;
}
.commission-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.commission-text03 {
  color: var(--dl-color-primary-700);
  margin-left: var(--dl-space-space-threeunits);
}
.commission-link1 {
  width: 130px;
  height: 45px;
  font-size: 20px;
  align-self: flex-start;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.commission-link1:hover {
  color: var(--dl-color-primary-700);
  background-color: var(--dl-color-primary-100);
}
.commission-text24 {
  color: var(--dl-color-primary-700);
  opacity: 0.6;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 300;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  letter-spacing: 1px;
}
.commission-navlink4 {
  text-decoration: underline;
}
.commission-container3 {
  width: 100%;
  height: 400px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.commission-footer {
  width: 100%;
  height: 103px;
  display: flex;
  opacity: 0.9;
  max-width: auto;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-700);
}
.commission-footer:hover {
  opacity: 1;
}
.commission-navlink5 {
  display: contents;
}
.commission-image {
  width: 158px;
  height: 28px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 767px) {
  .commission-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .commission-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .commission-header {
    padding: var(--dl-space-space-unit);
  }
  .commission-text03 {
    color: var(--dl-color-primary-700);
    font-size: 14px;
  }
  .commission-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .commission-image {
    margin-bottom: var(--dl-space-space-unit);
  }
}
