.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  transition: 0.3s;
}









.navigation-links-root-class-name8 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name9 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name10 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name11 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name12 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}

.navigation-links-root-class-name14 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name15 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name16 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name17 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name18 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}

.navigation-links-root-class-name20 {
  flex: 0 0 auto;
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name21 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name22 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}

.navigation-links-root-class-name24 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
.navigation-links-root-class-name25 {
  width: auto;
  align-self: stretch;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-root-class-name8 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name9 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name10 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name11 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name12 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name14 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name15 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name16 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name17 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name18 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name20 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name21 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name22 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name24 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name25 {
    align-self: flex-end;
  }
}
@media(max-width: 479px) {
  .navigation-links-root-class-name8 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name9 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name14 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name15 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name16 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name17 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name18 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name20 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name21 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name22 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name24 {
    align-self: flex-end;
  }
  .navigation-links-root-class-name25 {
    align-self: flex-end;
  }
}

.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.gallery-card3-text1 {
  color: var(--dl-color-gray-white);
  text-align: center;
}












@media(max-width: 479px) {
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.gallery-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.gallery-header {
  width: 100%;
  display: flex;
  opacity: 0.9;
  position: relative;
  max-width: auto;
  align-self: center;
  box-shadow: 5px 5px 100px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.gallery-header:hover {
  opacity: 1;
}
.gallery-navlink {
  display: contents;
}
.gallery-home {
  width: 250px;
  height: 48px;
  opacity: 1;
  z-index: 200;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.gallery-home:hover {
  opacity: 0.8;
}
.gallery-navlink1 {
  display: contents;
}
.gallery-component {
  text-decoration: none;
}
.gallery-navlink2 {
  display: contents;
}
.gallery-component01 {
  text-decoration: none;
}
.gallery-navlink3 {
  display: contents;
}
.gallery-component02 {
  text-decoration: none;
}
.gallery-gallery {
  width: 100%;
  height: 1223px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  animation-name: fadeIn;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  animation-delay: 0s;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.gallery-text {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.gallery-text3 {
  color: var(--dl-color-gray-black);
  opacity: 0.8;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1px;
}
.gallery-navlink4 {
  text-decoration: underline;
}
.gallery-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery-footer {
  width: 100%;
  height: auto;
  display: flex;
  max-width: auto;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-700);
}
.gallery-navlink5 {
  display: contents;
}
.gallery-image {
  width: 158px;
  height: 28px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .gallery-container1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .gallery-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .gallery-container1 {
    grid-template-columns: 1fr 1fr;
  }
  .gallery-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .gallery-header {
    padding: var(--dl-space-space-unit);
  }
  .gallery-gallery {
    padding: var(--dl-space-space-unit);
  }
  .gallery-container1 {
    grid-template-columns: 1fr;
  }
  .gallery-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .gallery-image {
    margin-bottom: var(--dl-space-space-unit);
  }
}
