.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links-navlink1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-navlink2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-root-class-name12 {
    flex: 0 0 auto;
  }
}
@media(max-width: 479px) {
  .navigation-links-navlink {
    font-size: 12px;
  }
  .navigation-links-navlink1 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://cdn.discordapp.com/attachments/1217844079795241101/1220370619175014499/image.png?ex=660eb1b5&is=65fc3cb5&hm=22ff87b3b0f9eb936750362cfaa30e121e471513bcbb1f0d2dc330e161a26255&');
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 150;
  max-width: auto;
  align-items: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-container1 {
  flex: 0 0 auto;
  display: flex;
  z-index: 150;
  align-items: center;
  flex-direction: row;
}
.home-image {
  height: 2rem;
  z-index: 150;
}
.home-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-container2 {
  width: 100%;
  height: 810px;
  display: flex;
  z-index: 150;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.home-container3 {
  width: auto;
  height: 400px;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-white);
  z-index: 150;
}
.home-text03 {
  color: var(--dl-color-gray-white);
  z-index: 150;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}
.home-footer {
  width: 100%;
  display: flex;
  z-index: 150;
  max-width: auto;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-image1 {
  height: 2rem;
  align-self: center;
  object-fit: cover;
}
.home-container4 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-text08 {
  font-size: 15px;
  align-self: center;
  text-align: center;
  font-weight: 600;
}
.home-container5 {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text12 {
  align-self: center;
}
.home-container6 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  z-index: 150;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
@media(max-width: 1600px) {
  .home-container2 {
    background-size: cover;
    background-image: url('https://cdn.discordapp.com/attachments/1217844079795241101/1220370619175014499/image.png?ex=660eb1b5&is=65fc3cb5&hm=22ff87b3b0f9eb936750362cfaa30e121e471513bcbb1f0d2dc330e161a26255&');
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text12 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-text {
    text-align: center;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image1 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text12 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
