.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links-navlink1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-navlink2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-root-class-name12 {
    flex: 0 0 auto;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    flex-direction: column;
  }
  .navigation-links-navlink {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links-navlink1 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links-navlink2 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
}

.header-header {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.header-container {
  flex: 0 0 auto;
  display: flex;
  z-index: 150;
  align-items: center;
  flex-direction: row;
}
.header-navlink {
  display: contents;
}
.header-image {
  height: 2rem;
  z-index: 150;
  text-decoration: none;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}




@media(max-width: 1600px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .header-header {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
  }
}

.footer-footer {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.footer-image {
  height: 2rem;
  align-self: center;
  object-fit: cover;
}
.footer-container {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text {
  font-size: 15px;
  align-self: center;
  text-align: center;
  font-weight: 600;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  align-self: center;
}
.footer-root-class-name {
  flex: 1;
  margin-top: var(--dl-space-space-fourunits);
}
.footer-root-class-name1 {
  flex: 1;
  align-self: stretch;
}
.footer-root-class-name2 {
  flex: 1;
  align-self: stretch;
}
.footer-root-class-name3 {
  flex: 1;
  align-self: stretch;
}
@media(max-width: 1600px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text4 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
    flex-direction: column;
  }
  .footer-image {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url(components/assets/WebHomeBGTemporaryDownscaled.png);
}
.home-container1 {
  height: 746px;
  display: flex;
  z-index: 150;
  position: relative;
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  background-position: center;
}
.home-container2 {
  width: auto;
  height: 400px;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-white);
  z-index: 150;
  align-self: center;
  text-align: center;
}
.home-navlink {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  padding: var(--dl-space-space-unit);
  font-size: 20px;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  transition: 0.3s;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.home-navlink:hover {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-2);
}
@media(max-width: 1600px) {
  .home-container1 {
    background-size: cover;
    background-image: url(components/assets/WebHomeBGTemporaryDownscaled.png);
  }
}
@media(max-width: 479px) {
  .home-container1 {
    justify-content: center;
  }
  .home-container2 {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    text-align: center;
  }
}
