.footer-footer {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.footer-image {
  height: 2rem;
  align-self: center;
  object-fit: cover;
}
.footer-container {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text {
  font-size: 15px;
  align-self: center;
  text-align: center;
  font-weight: 600;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  align-self: center;
}


.footer-root-class-name2 {
  align-self: stretch;
}
@media(max-width: 1600px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text4 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
    flex-direction: column;
  }
  .footer-image {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url('https://cdn.discordapp.com/attachments/1217844079795241101/1217907774369960027/WebBG3.png?ex=662aa601&is=66183101&hm=13b38c7dc6a9e82e2b83accdea2957be4099003d98eeae5996c9c8006bf39b8b&');
}
.home-container1 {
  width: 100%;
  height: 983px;
  display: flex;
  z-index: 150;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-position: center;
}
.home-container2 {
  width: auto;
  height: 400px;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-white);
  z-index: 150;
  align-self: center;
  text-align: center;
}
.home-text5 {
  color: var(--dl-color-gray-white);
  z-index: 150;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
}
@media(max-width: 1600px) {
  .home-container1 {
    background-size: cover;
    background-image: url('https://cdn.discordapp.com/attachments/1217844079795241101/1220370619175014499/image.png?ex=660eb1b5&is=65fc3cb5&hm=22ff87b3b0f9eb936750362cfaa30e121e471513bcbb1f0d2dc330e161a26255&');
  }
}
@media(max-width: 479px) {
  .home-text {
    text-align: center;
  }
}
