.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links-navlink1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-navlink2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-root-class-name12 {
    flex: 0 0 auto;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    flex-direction: column;
  }
  .navigation-links-navlink {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links-navlink1 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links-navlink2 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
}

.header-header {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.header-container {
  flex: 0 0 auto;
  display: flex;
  z-index: 150;
  align-items: center;
  flex-direction: row;
}
.header-navlink {
  display: contents;
}
.header-image {
  height: 2rem;
  z-index: 150;
  text-decoration: none;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}




@media(max-width: 1600px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .header-header {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
  }
}

.footer-footer {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.footer-image {
  height: 2rem;
  align-self: center;
  object-fit: cover;
}
.footer-container {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text {
  font-size: 15px;
  align-self: center;
  text-align: center;
  font-weight: 600;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  align-self: center;
}
.footer-root-class-name {
  flex: 1;
  margin-top: var(--dl-space-space-fourunits);
}
.footer-root-class-name1 {
  flex: 1;
  align-self: stretch;
}
.footer-root-class-name2 {
  flex: 1;
  align-self: stretch;
}
.footer-root-class-name3 {
  flex: 1;
  align-self: stretch;
}
@media(max-width: 1600px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text4 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
    flex-direction: column;
  }
  .footer-image {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.info-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://cdn.discordapp.com/attachments/1180549975281766563/1241856309889077258/A09A4B4D-0444-44FA-A76F-680D0163E064.jpeg?ex=664c6110&is=664b0f90&hm=4144b838d42b0d8777370ff2c3d6a769fb0e34cbb594d34cc4be9cc591f964ff&');
}
.info-container1 {
  height: 746px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.info-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-self: center;
  align-items: stretch;
  margin-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
}
.info-text {
  color: var(--dl-color-gray-white);
  z-index: 150;
  font-size: 1.5em;
  align-self: center;
  text-align: center;
}
.info-container3 {
  width: 175px;
  height: 305px;
  display: flex;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.info-link {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.info-link:hover {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  background-color: #ff6565;
}
.info-link1 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.info-link1:hover {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  background-color: #4473ec;
}
.info-link2 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.info-link2:hover {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  background-color: #0a2f56;
}
.info-link3 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 20px;
  align-self: stretch;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: left;
  transition: 0.3s;
  font-weight: 600;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.info-link3:hover {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  background-color: transparent;
  background-image: linear-gradient(to right, #571FA5 0%, #FFCA44 100%);
}
@media(max-width: 479px) {
  .info-container1 {
    align-items: center;
    justify-content: center;
  }
  .info-container2 {
    align-self: center;
    margin-left: 0px;
    justify-content: center;
  }
  .info-text {
    text-align: center;
  }
}
