.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links-navlink1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-navlink2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-root-class-name12 {
    flex: 0 0 auto;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    flex-direction: column;
  }
  .navigation-links-navlink {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links-navlink1 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links-navlink2 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
}

.header-header {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.header-container {
  flex: 0 0 auto;
  display: flex;
  z-index: 150;
  align-items: center;
  flex-direction: row;
}
.header-image {
  height: 2rem;
  z-index: 150;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}


@media(max-width: 1600px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .header-header {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
  }
}

.gallery-card3-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.gallery-card3-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.gallery-card3-container {
  width: 100%;
  height: 300px;
  display: flex;
  opacity: 0;
  padding: var(--dl-space-space-twounits);
  z-index: 1;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9));;
}
.gallery-card3-container:hover {
  opacity: 1;
}
.gallery-card3-text {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}












@media(max-width: 479px) {
  .gallery-card3-text {
    align-self: center;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-footer {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.footer-image {
  height: 2rem;
  align-self: center;
  object-fit: cover;
}
.footer-container {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text {
  font-size: 15px;
  align-self: center;
  text-align: center;
  font-weight: 600;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  align-self: center;
}


.footer-root-class-name2 {
  align-self: stretch;
}
@media(max-width: 1600px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text4 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
    flex-direction: column;
  }
  .footer-image {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.portfolio-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.portfolio-gallery {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.portfolio-text {
  font-size: 3rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
}
.portfolio-text1 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  padding-left: var(--dl-space-space-threeunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.portfolio-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media(max-width: 991px) {
  .portfolio-text1 {
    text-align: center;
  }
  .portfolio-container1 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .portfolio-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .portfolio-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .portfolio-container1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 479px) {
  .portfolio-gallery {
    padding: var(--dl-space-space-unit);
  }
  .portfolio-container1 {
    grid-template-columns: 1fr;
  }
}
