.footer-footer {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.footer-image {
  height: 2rem;
  align-self: center;
  object-fit: cover;
}
.footer-container {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-text {
  font-size: 15px;
  align-self: center;
  text-align: center;
  font-weight: 600;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  align-self: center;
}
.footer-root-class-name {
  flex: 1;
  margin-top: var(--dl-space-space-fourunits);
}
.footer-root-class-name1 {
  flex: 1;
  align-self: stretch;
}
.footer-root-class-name2 {
  flex: 1;
  align-self: stretch;
}
.footer-root-class-name3 {
  flex: 1;
  align-self: stretch;
}
@media(max-width: 1600px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text4 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
    flex-direction: column;
  }
  .footer-image {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text4 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
