.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}
.navigation-links-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}









@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links-navlink1 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-navlink2 {
    margin-left: var(--dl-space-space-twounits);
  }
  .navigation-links-root-class-name12 {
    flex: 0 0 auto;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    flex-direction: column;
  }
  .navigation-links-navlink {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links-navlink1 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-links-navlink2 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
}

.header-header {
  display: flex;
  z-index: 150;
  position: relative;
  max-width: auto;
  align-self: stretch;
  align-items: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.header-container {
  flex: 0 0 auto;
  display: flex;
  z-index: 150;
  align-items: center;
  flex-direction: row;
}
.header-image {
  height: 2rem;
  z-index: 150;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}


@media(max-width: 1600px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 1200px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 991px) {
  .header-header {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 767px) {
  .header-header {
    width: auto;
    align-self: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .header-header {
    width: auto;
    padding: var(--dl-space-space-unit);
    align-self: stretch;
  }
}
